    .main
{
    background:#f6f6f6;
}
body
{
        background:#f6f6f6;
        margin:30px;
}
.ubuntu
{
    font-family: 'Ubuntu', sans-serif;
}
p
{
    font-family: 'Ubuntu', sans-serif;
    text-align:justify;
}
.pacifico
{
    font-family: 'Pacifico', sans-serif;
    font-size: 2.4em;
}
.twitter-follow
{

    font-family: 'Ubuntu', sans-serif;
    font-size:1.4em;
    transition:all 0.2s ease-in;
    /*                width:40px;*/
    overflow:hidden;

    white-space: nowrap;

}

.twitter-follow:hover
{
    /*                color:#333;
                    width:auto;
    
                    border-radius:1px;
    
                    background:#fff !important;
                    border-bottom: 3px solid orangered;*/

}

.header
{
    padding:10px;
}
.post h2 {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.2;
}
.post h2 a
{
    color: #333;
    text-decoration: none;
    display: block;
}
h2
{
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif, "Helvetica Neue", HelveticaNeue, Arial, sans-serif;
}

.post
{
    
    border-radius: 4px;
    overflow: hidden;
    padding: 0;
    position: relative;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
    background-clip: padding-box;
    background:#fff;
}

/*About Me*/
.media
{
    /*box-shadow:0px 0px 4px -2px #000;*/
    margin: 20px 0;
    padding:30px;
}
.dp
{
    border:10px solid #eee;
    transition: all 0.2s ease-in-out;
}
.dp:hover
{
    border:2px solid #eee;
    transform:rotate(360deg);
    -ms-transform:rotate(360deg);  
    -webkit-transform:rotate(360deg);  
    /*-webkit-font-smoothing:antialiased;*/
}
.aboutme
{
    background:#FFEDDA;
}